$purple: #C780FF;
$blue: #9685FF;
$dark-blue: #695CFE;
$gradient: #B880FF;
$background-color: #ab8eea;
$neutral-grey: #F1F1F1;
$black: #000000;
$white: #FFFFFF;
$white-font: #fff;
$text-shadow: rgb(93, 93, 93);
$footer-font: rgb(153, 153, 153);
$form-background: #efefef;
$box-shadow-black: rgba(0, 0, 0, 0.25);
$box-shadow-white: #c2c2c2;
$sidebar: rgb(34, 32, 32);
$pop-up: rgba(0,0,0,0.4);