* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  min-height: 100%;
}

.back {
  background-color: #ab8eea;
}

.nav {
  width: 100%;
  top: 0;
  left: 0;
  margin-top: 0;
  padding: 9.6px 0;
  border-radius: 1.6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 3;
  background: #000000;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.nav .nav-item {
  list-style: none;
  margin-right: 32px;
  color: #FFFFFF;
}

.nav .nav-item:first-child {
  margin-right: auto;
  margin-left: 32px;
}

.nav .nav-btn {
  padding: 8px 16px;
  font-size: 17.6px;
  color: #FFFFFF;
  background: #000000;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}

.nav .nav-btn:hover {
  background: #9685FF;
}

.nav .nav-btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.container {
  position: relative;
  overflow: hidden;
  width: 800px;
  height: 450px;
  margin: 110px auto 100px;
  background: #efefef;
  -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
}

.container a {
  text-decoration: none;
  color: #FFFFFF;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.form {
  position: relative;
  width: 420px;
  height: 100%;
  padding: 60px 0 70px 110px;
}

.form h2 {
  width: 100%;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.form input {
  display: block;
  background: #FFFFFF;
  padding: 12px 15px;
  margin: 8px 8px;
  width: 100%;
  border-radius: 1.6px;
  border: none;
  outline: none;
}

.sub-container {
  position: absolute;
  left: 520px;
  top: 0;
  width: 800px;
  height: 100%;
  padding-left: 260px;
}

.img {
  position: absolute;
  left: 0;
  top: 0;
  width: 280px;
  height: 100%;
  padding-top: 360px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#C780FF), to(#9685FF));
  background-image: linear-gradient(#C780FF, #9685FF);
  background-size: cover;
}

.img__text {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 100px;
  width: 100%;
  padding: 0 20px;
  text-align: center;
  color: #FFFFFF;
}

.img__text h2 {
  font-weight: bold;
  text-shadow: 3px 3px 9px #5d5d5d;
  width: 100%;
  font-size: 28px;
  text-align: center;
}

.img__text p {
  font-size: 14px;
  line-height: 1.5;
  text-shadow: 3px 3px 7px #5d5d5d;
}

.operation-button, .button {
  position: relative;
  width: 100px;
  height: 36px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 15px;
  border-radius: 30px;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  cursor: pointer;
  outline: none;
  margin: 10px 110px;
  background: #000000;
  -webkit-box-shadow: 1.7px 1.7px 1.7px 1.7px #c2c2c2;
          box-shadow: 1.7px 1.7px 1.7px 1.7px #c2c2c2;
}

.operation-button:hover, .button:hover {
  background-color: #9685FF;
  border-style: none;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.operation-button:active, .button:active {
  -webkit-transition: all 400ms ease-in;
  transition: all 400ms ease-in;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.button {
  margin: 0 0 0 90px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 2px solid #FFFFFF;
  background: transparent;
}

.button:hover {
  border: 2px solid #FFFFFF;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000000;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

footer li {
  list-style: none;
  font-size: 14px;
  margin-right: 40px;
  margin-bottom: 5px;
}

footer a {
  text-decoration: none;
  color: #999999;
}

footer a:hover {
  color: #9685FF;
  text-decoration: underline;
}

footer .copyright {
  text-align: center;
  font-size: 11px;
  color: #999999;
  margin-top: 0;
  margin-bottom: 25px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background: #222020;
  -webkit-transition: var(--tran-05);
  transition: var(--tran-05);
  z-index: 5;
}

.sidebar header {
  position: relative;
}

.sidebar header .image-text {
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar header .image-text .name {
  color: #F1F1F1;
  padding-left: 10px;
  font-size: 16px;
  font-weight: 550;
}

.sidebar header .logo-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sidebar .image img {
  width: 50px;
}

.sidebar .menu a {
  color: #fff;
  display: block;
  width: 100%;
  line-height: 50px;
  text-decoration: none;
  padding-left: 40px;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-property: #9685FF;
  transition-property: #9685FF;
}

.sidebar .menu a:hover {
  background: #9685FF;
}

.sidebar .menu i {
  color: #fff;
  font-size: 20px;
  padding-right: 10px;
  text-align: center;
}

.sidebar .bottom-content {
  position: relative;
  height: 100%;
  min-width: 60px;
  margin-top: 320px;
  cursor: pointer;
}

.sidebar .bottom-content .logout {
  padding: 10px 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.sidebar .bottom-content .logout:hover {
  background-color: #9685FF;
}

.sidebar .bottom-content #logout-button {
  color: #FFFFFF;
}

.sidebar .bottom-content i {
  font-size: 20px;
  margin-left: 40px;
  color: #FFFFFF;
}

.content-image-home {
  position: relative;
  height: 350px;
  width: 100%;
  margin-top: -10px;
  margin-left: 7px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 70%;
  background-image: url("background/aesthetic-purple.jpg");
}

.content-image-mynotes {
  position: relative;
  height: 350px;
  width: 100%;
  margin-top: -10px;
  margin-left: 7px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 70%;
  background-image: url("background/cloud-sky-purple.jpg");
}

.content-image-profile {
  position: relative;
  height: 350px;
  width: 100%;
  margin-top: -10px;
  margin-left: 7px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 70%;
  background: url("background/gradient-background.jpg");
}

.content-image-note-statistics {
  position: relative;
  height: 350px;
  width: 100%;
  margin-top: -10px;
  margin-left: 7px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 70%;
  background: url("background/violet-purple.jpg");
}

.logo-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-top: -300px;
  margin-left: 270px;
  font-weight: bold;
}

.logo-header .greetings {
  font-size: 32px;
  padding-bottom: 7px;
}

.logo-header .calendar-day {
  color: #222020;
}

.content {
  z-index: 3;
  height: 550px;
  width: 80%;
  position: absolute;
  margin-top: 180px;
  margin-left: 270px;
  border-radius: 12px;
  background-size: cover;
  background-color: #FFFFFF;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.content p {
  margin-top: 20px;
  margin-left: 20px;
  font-weight: bold;
}

.search-box, .pop-up-content .search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  width: 20%;
  margin-left: 90px;
  margin-top: -37px;
  border-radius: 12px;
  background-color: #000000;
  cursor: pointer;
  -webkit-transition: var(--tran-05);
  transition: var(--tran-05);
}

.search-box i, .pop-up-content .search-box i {
  margin: 5px;
  color: #FFFFFF;
}

.search-box input, .pop-up-content .search-box input {
  width: 100%;
  outline: none;
  border: none;
  background-color: black;
  color: #FFFFFF;
  border-radius: 12px;
  font-size: 15px;
  font-weight: 500;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.pop-up-content .search-box {
  margin-left: 0;
  margin-top: 0;
  width: 100%;
  height: 30px;
}

.pop-up-content .search-box i {
  margin: auto;
  margin-left: 12px;
}

.pop-up-content .search-box input {
  height: 30px;
}

.content .profile {
  position: absolute;
  top: 30px;
  left: 30%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .profile .profile-left {
  width: 22%;
  padding: 0 25px;
  text-align: center;
}

.content .profile .profile-left i {
  margin-left: -70px;
  font-size: 170px;
  font-weight: 300;
  border-radius: 5px;
  margin-bottom: 10px;
}

.profile .profile-right {
  width: 80%;
  padding: 0 30px;
}

.profile .profile-right .profile-info {
  width: 110%;
}

.profile .profile-right .info-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -15px;
}

.profile .profile-right .info-data .data {
  width: 45%;
}

.profile .profile-right .info-data .data span {
  font-size: 14px;
  margin-left: 0;
  font-weight: 500;
  color: #999999;
}

.profile .profile-right .info-data .data input {
  height: 30px;
  padding: 10px;
  margin-top: -15px;
  margin-bottom: 15px;
  background-color: #F1F1F1;
  border: none;
}

.profile .profile-right .info-data h4 {
  margin-bottom: 5px;
  font-size: 16px;
  color: #000000;
}

.profile .profile-right .profile-info h3 {
  padding-bottom: 10px;
  color: #000000;
  text-transform: uppercase;
  border-bottom: 2px solid #9685FF;
}

.profile .profile-right button {
  width: 90px;
  margin-top: 20px;
  margin-right: 10px;
  padding-bottom: 5px;
  padding-right: 10px;
  color: #fff;
  font-size: 14px;
  border: #ab8eea;
  border-radius: 22px;
  background-color: #ab8eea;
  cursor: pointer;
}

.profile .profile-right button i {
  margin-top: 5px;
  padding-right: 5px;
  font-size: 14px;
  color: #fff;
}

.profile .profile-right button a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.profile .profile-right button:hover {
  background-color: #000000;
  border: #000000;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.profile .profile-right button:active {
  -webkit-transition: all 400ms ease-in;
  transition: all 400ms ease-in;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: -50px;
  margin-top: 0;
  display: -ms-grid;
  display: grid;
  gap: 20px;
  -ms-grid-columns: (235px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 235px);
}

.wrapper li {
  list-style: none;
  padding: 0 15px 15px;
  background: #F1F1F1;
  -webkit-box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.25);
}

.add-box-note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.add-box-note .plus-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  height: 70px;
  width: 70px;
  font-size: 35px;
  color: #695CFE;
  border-radius: 50%;
  border: 2px dashed #695CFE;
  cursor: pointer;
}

.add-box-note p {
  color: #695CFE;
  margin-left: -1px;
}

.wrapper .note, .wrapper .statistics {
  width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.wrapper .note p, .wrapper .statistics p {
  margin-left: 0;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.wrapper .note .tag, .wrapper .statistics .tag {
  margin: 10px 0;
  color: white;
  font-weight: 500;
  border-radius: 12px;
  border: 2px solid #695CFE;
  background-color: #695CFE;
}

.wrapper .note span, .wrapper .statistics span {
  display: block;
  margin-top: 5px;
  color: black;
  font-size: 14px;
}

.note .bottom-content, .wrapper .statistics .bottom-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}

.note .bottom-content span, .wrapper .statistics .bottom-content span {
  font-size: 12px;
  font-weight: bold;
  color: #9685FF;
}

.note .bottom-content .settings, .wrapper .statistics .bottom-content .settings {
  position: relative;
}

.note .bottom-content .settings i, .wrapper .statistics .bottom-content .settings i {
  font-size: 15px;
  color: #695CFE;
  cursor: pointer;
}

.note .bottom-content .settings:hover .note-menu, .wrapper .statistics .bottom-content .settings:hover .note-menu {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.settings .note-menu {
  position: absolute;
  bottom: 15px;
  padding: 2px 0;
  background-color: #F1F1F1;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.settings .note-menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 25px;
  width: 140px;
  padding-top: 13px;
  font-size: 12px;
  font-weight: 550;
  color: #695CFE;
  border-radius: 0;
  cursor: pointer;
}

.settings .note-menu li i {
  margin-top: 1px;
  padding-right: 8px;
  color: #695CFE;
  font-size: 14px;
}

.settings .note-menu li:hover {
  background-color: #c2c2c2;
}

.wrapper .statistics {
  margin-bottom: 10px;
}

.wrapper .statistics .editors {
  width: 240px;
  margin-left: -15px;
  margin-bottom: -15px;
  padding: 15px;
  padding-top: -30px;
  background: #F1F1F1;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.wrapper .statistics .editors h1 {
  margin-top: -10px;
  margin-left: -5px;
  font-size: 14px;
  color: #9685FF;
}

.wrapper .statistics .editors h1 i {
  padding: 5px;
  font-size: 13px;
  color: #9685FF;
}

.wrapper .statistics .editors p {
  margin-top: -10px;
  padding-top: -10px;
  font-size: 12px;
  font-weight: 600;
  color: #5d5d5d;
}

.main-content-section1, .main-content-section3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin-top: 55px;
  margin-left: -7px;
  margin-right: -7px;
  background-color: #C780FF;
}

.main-content-section1 div, .main-content-section3 div {
  padding: 30px 70px;
}

.main-content-section1 .text p, .main-content-section3 .text p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 17px;
  font-weight: 200;
  color: #F1F1F1;
}

.main-content-section1 .text h1, .main-content-section3 .text h1 {
  margin-bottom: 10px;
}

.main-content-section1 button, .main-content-section3 button {
  width: 200px;
  padding: 10px;
  color: #FFFFFF;
  font-size: 16px;
  background-color: black;
  cursor: pointer;
}

.main-content-section1 button:hover, .main-content-section3 button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.main-content-section1 img, .main-content-section3 img {
  width: 600px;
}

.main-content-section3 {
  margin-top: 0;
  background-color: #FFFFFF;
}

.main-content-section3 .text p {
  color: #000000;
}

.main-content-section3 button {
  margin-top: 15px;
  margin-right: 100px;
  background-color: #9685FF;
  border: #9685FF;
}

.main-content-section3 button a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
}

.pop-up-box {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.pop-up-box .pop-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  z-index: 6;
  top: 50%;
  left: 50%;
  max-width: 400px;
  width: 100%;
  background: #F1F1F1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.pop-up-box, .pop-up-box .pop-up {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.pop-up-box.show, .pop-up-box.show .pop-up {
  opacity: 1;
  pointer-events: auto;
}

.pop-up .pop-up-content {
  width: calc(100% - 15px);
  background: #F1F1F1;
}

.pop-up .pop-up-content header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -7.5px;
  padding: 0 25px;
  background: black;
}

.pop-up .pop-up-content header i {
  font-size: 23px;
  color: #F1F1F1;
  border: 2px solid #000000;
  border-radius: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
}

.pop-up .pop-up-content header i:hover {
  background: #695CFE;
  border: 2px solid #695CFE;
  border-radius: 50%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.pop-up .pop-up-content header p {
  padding: 0 5px;
  font-size: 18px;
  font-weight: bold;
  color: #F1F1F1;
}

.pop-up .pop-up-content form {
  margin: 15px 25px 35px;
}

.pop-up .pop-up-content form .row {
  margin-bottom: 15px;
}

.pop-up .pop-up-content form .row label {
  display: block;
  font-size: 16px;
  font-weight: 500;
}

.pop-up .pop-up-content form textarea {
  height: 150px;
  padding: 10px 15px;
  resize: none;
}

.pop-up .pop-up-content form button {
  width: 100%;
  height: 40px;
  color: #FFFFFF;
  font-size: 17px;
  outline: none;
  border: none;
  border-radius: 4px;
  background: #9685FF;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.pop-up .pop-up-content form button:hover {
  background: #000000;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.pop-up .pop-up-content form button:active {
  background: #000000;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.pop-up-content form :where(input, textarea) {
  width: 100%;
  height: 50px;
  padding: 0 15px;
  font-size: 17px;
  outline: none;
  border: 1px solid #c2c2c2;
}

label #sidebar_btn {
  position: relative;
  left: 205px;
  margin-top: 20px;
  font-size: 30px;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-property: color;
  transition-property: color;
  cursor: pointer;
}

#check:checked ~ label #sidebar_btn {
  left: 40px;
  font-size: 30px;
  -webkit-transition: all 800ms ease-in;
  transition: all 800ms ease-in;
}

#check:checked ~ .sidebar {
  left: -170px;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

#check:checked ~ .sidebar a span {
  display: none;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}

#check:checked ~ .sidebar a i {
  margin-left: 170px;
  -webkit-transition: all 450ms ease-in;
  transition: all 450ms ease-in;
}

#check:checked ~ .sidebar span {
  font-size: 0;
  -webkit-transition: all 3s ease-in-out;
  transition: all 3s ease-in-out;
}

#check:checked ~ .sidebar .name {
  margin-left: -200px;
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

#check:checked ~ .sidebar header .image img {
  margin-left: -200px;
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

#check:checked ~ .sidebar .bottom-content i {
  margin-left: 210px;
  -webkit-transition: all 450ms ease-in;
  transition: all 450ms ease-in;
}

.error-message {
  color: #d82b2b;
  font-size: 13px;
  font-weight: 600;
  margin-left: 10px;
}

#error-message {
  color: #d82b2b;
  font-size: 13px;
  font-weight: 600;
}

#logo-header {
  -webkit-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
}

#check:checked ~ .logo-header {
  margin-left: 120px;
}

#check:checked ~ .content {
  width: 87%;
  margin-left: 120px;
  -webkit-transition: all 450ms ease-in-out;
  transition: all 450ms ease-in-out;
}

#check:checked ~ .content .wrapper {
  -webkit-transition: all 450ms ease-in-out;
  transition: all 450ms ease-in-out;
}

#check:checked ~ .content .wrapper li {
  -webkit-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
}

#check {
  display: none;
}
/*# sourceMappingURL=style.css.map */